aside, article, section, header, footer, nav {
	display: block;
}
div, section, article, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
html {
	background: rgb(123, 121, 143);
}

body {
    width: 80%;
    background: #fff;
    margin: 0 auto 2em;
    font: 100% Georgia, "Times New Roman", Times, serif;
}

header {
	background: rgb(76, 67, 65);
	margin-bottom: 16px;
	height: 96px;
	padding: 32px 0 0 2%;
}
.col1 {
	float: left;
	padding-left: 2%;
	width: 60%;
}
.col2 {
	float: right;
	width: 34%;
	padding-right: 2%;
	font-size: 90%;
	line-height: 1.6;
}
footer {
	background: rgb(100, 98, 102);
	height: 80px;
	clear: both;
    position: relative;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    position: absolute;
    float: left;
    left: 150px;
    top: 20px;
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

   a>img {
    width:10%;
    float: left;
   }

.clf::after {
    content: "";
    display: block;
    clear: both;
}