section, header, footer, nav {
    display:block;
}

html, body {
    margin: 0;
    padding: o;
}

html {
    background: #ccc;
}

body {
    width: 1400px;
    background: #0c80c4;
    margin-left: 220px;
}

nav {
    background: rgb(0, 0, 0);
    width: 1000px;
    height: 50px;
    float: right;

}

ul>li>a {display: block;}

.menu {
    display: inline-block;
    margin-right: 50px;
}

img {
    width: 250px;
    height: 250px;
}